body{
    background-color: rgba(253, 231, 238, 1); /* Fundo rosa claro */
    font-family: 'Montserrat', sans-serif;
    padding-top: 78px;
}

.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

@keyframes pulsar {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }
}
.cabecalho-imagem{
    width: 18.594vw;      
    animation: pulsar 2s ease-in-out infinite;
}


/*shadow como contorno*/
.cabecalho-subtitulo {
    text-align: center;
    font-size: 32px;
    color: #DF2F4F; 
    text-shadow: -3px 0 #fff, 0 3px #fff, 3px 0 #fff, 0 -3px #fff, 3px -3px #fff, -3px -3px #fff, -3px 3px #fff, 3px 3px #fff;
    text-transform: capitalize; 
    padding: 50px 0 20px; 
}

.cabecalho-subtitulo::first-letter {
    font-size: 48px;
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-principal-imagem{
    width: 100%; 
}

.conteudo-secundario-botao{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.botao {
    background-color: #DF2F4F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    padding: 24px 7.969vw;
    border-radius: 50px;
    line-height: 24px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s; /* Transições suaves */
}

.botao:hover {
    background-color: #D94D6D; /* Cor de fundo ao passar o mouse */
    color: #FFFFFF; /* Cor do texto ao passar o mouse */
    transform: scale(1.05); /* Aumenta o botão */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra ao passar o mouse */
    cursor: pointer; /* Muda o cursor para uma mão */
}

a {
    text-decoration: none;
    color: white;

}
