body {
    background-color: #FDE7EE;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

header {
    position: absolute;
    top: 0;
    left: 0;
}

nav {
    position: fixed;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    width: 100%;
    padding: 16px 40px;
    background-color: #fff;
}

nav > ul {
    list-style: none;
    text-align: center;
}

ul li{
    display: inline-block;
    padding: 0 33px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: black;
}

header>nav>div {
    display:flex;
    align-items: center;
}

#login>img {
    border-radius: 50%;
    margin-right: 8px;
}

#login {
    font-size: 14px;
    text-decoration: underline;
    font-weight: 700;
}

.faixa-imagem {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 97px;
    height: 159px;     
}

.faixa-imagem::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 159px;    
    background-image: linear-gradient(rgba(255, 194, 213, 0.8), rgba(255, 194, 213, 0.8)),url('img/donutsfull.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter: sepia(1) saturate(4) hue-rotate(290deg);
    mix-blend-mode: multiply;
    opacity: 0.6;
    z-index: -1;
}

.faixa-imagem h1 {
    color: #BE0022;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}
.rodape {
    background-color: #FDE7EE;
    color: grey;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    padding: 8px 0;
    margin-top: 110px;
}

#carrinho > img {
    height: 34px;
    transform: scaleX(-1);
}

#carrinho {
    position: relative;
    display: inline-block;
    margin-right: 20px;
  }
  
#contador {
position: absolute;
bottom: 2px;
right: -3px;
padding: 1px 3px;
background-color: white;
border: 1px solid #df2f4f;
border-radius: 50%;
font-size: 12px;
text-align: center;
line-height: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-conteudo {
    position: relative;
    background-color: #fffeee;
    margin: 15% auto;
    padding: 20px;
    padding-left: 32px;
    border: 2px solid #df2f4f;
    width: 80%;
    max-width: 600px;
    border-radius: 24px;    
}

.modal-conteudo::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 2px solid #df2f4f;
    border-radius: 20px;
    pointer-events: none;
}

.modal-conteudo h2, .modal-conteudo th, .modal-conteudo tr:last-child {
    color: #df2f4f;
}

.modal-conteudo h2{
    margin-top: 8px;
}

.fechar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.fechar:hover,
.fechar:focus {
    color: #df2f4f;
    text-decoration: none;
    cursor: pointer;
} 

.limpar {
    position: absolute;
    bottom: 20px;
    right: 32px;
}

#tabela-container {
    display: flex;
}

#btlimpar {
    padding: 4px 24px;
    background-color: #00B6F9;
    border: none;
    line-height: 24px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 24px;
    transition: background-color 0.3s ease;
    float: right;
}
  
