.produtos {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%; 
    margin-bottom: 40px;
}

.produto {
    width: 28%;
    margin: 8px;
    margin-top: 120px;
    margin-bottom: -60px;
    padding: 10px 0;
    background-color: #f0f0f0;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.produto:hover {
    transform: scale(1.05);
}

.barra {
    width: 100%;
    height: 2px;
    background-color: #DF2F4F;
    margin: 0;
}

.produto h3 {
    color: #DF2F4F;
    font-size: 18px;
    font-weight: 700px;
}

.produto img {
    max-width: 100%;
    height: auto;
    background-image: cover;
    margin-bottom: 0;
}

.produto .botao-comprar {
    padding: 10px 8px;
    background-color: #ff69b4;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
    transition: background-color 0.3s;
}    

.produto .botao-comprar:hover {
    background-color: #ff4081;
}

input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 25px;
    height: 10px;
    vertical-align: middle;
    margin: 6px;
}

span {
    font-weight: bold;
}

.rodape {
    background-color: #FDE7EE;
    color: grey;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    padding: 8px 0;
    margin-top: 110px;
}