.produtos {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 40px 200px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
    gap: 48px;
}
.produto {
    display: flex;
    flex-direction: column;
    width: 250px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 24px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;    
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
}
.produto h3 {
    color: #DF2F4F;
    font-size: 18px;
    font-weight: 700px;
}
.produto h3::first-letter {
    text-transform: uppercase;
}
.produto img {
    width: 250px;
    height: 184px;
    object-fit: cover;
    border-top: 2px solid #df2f4f;
}
.produto .botao-comprar {
    padding: 4px 24px;
    background-color: #00B6F9;
    border: none;
    line-height: 24px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 24px;
    transition: background-color 0.3s ease;
    float: right;
}    
.produto .botao-comprar:hover {
    background-color: #DF2F4F;
}
input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 25px;
    height: 10px;
    vertical-align: middle;
    margin: 6px;
}
span {
    font-weight: bold;
}
.infos{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    gap: 8px;
}
.preco {
    display: flex;
    flex-direction: column;
    width: 80px;
    font-size: 16px;
    align-items: center;
    color: #525252;
}
.divbtn{
    display: flex;
    justify-content: center;
    width: 114px;
}
